<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Add Chapter Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="absolute top-6 left-6 space-x-4">
      <a
        href="/show"
        class="p-4 text-indigo-800 bg-yellow-300 rounded shadow-md hover:bg-yellow-400 transition duration-300 transform hover:scale-105"
      >
        Home<span class="ml-2 text-green-600">&#8594;</span>
      </a>
      <a
        href="/course"
        class="p-4 text-indigo-800 bg-yellow-300 rounded shadow-md hover:bg-yellow-400 transition duration-300 transform hover:scale-105"
      >
        <%=notee.heading %><span class="ml-2 text-green-600">&#8594;</span>
      </a>
      <a
        href=""
        class="p-4 text-indigo-800 bg-yellow-300 rounded shadow-md hover:bg-yellow-400 transition duration-300 transform hover:scale-105"
      >
        Create A Chapter<span class="ml-2 text-green-600">&#8594;</span>
      </a>
    </div>
    <div class="bg-white p-8 rounded shadow-md w-1/3">
      <h1 class="text-3xl text-indigo-800 mb-6 font-semibold">Add Chapter</h1>
      <form action="/chapter" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input
          type="text"
          name="title"
          placeholder="Enter chapter name"
          class="w-full p-4 mb-4 rounded border border-indigo-300 focus:outline-none focus:ring focus:ring-blue-400"
          required
        />
        <!-- Description Box -->
        <div class="mt-6">
          <textarea
            name="description"
            class="w-full h-40 p-4 rounded-md border border-indigo-300 focus:outline-none focus:ring focus:ring-blue-400"
            placeholder="Write something..."
            required
          ></textarea>
        </div>
        <button
          type="submit"
          class="bg-purple-600 text-white p-3 rounded-full hover:bg-purple-800 focus:outline-none focus:ring-2 focus:ring-purple-500 transition duration-300 transform hover:scale-105"
        >
          Submit
        </button>
      </form>
      <!-- End of Description Box -->
    </div>
  </body>
</html>
